.jumbotron
  .container
    h1 Interview Questions
    p A repo for interview questions and answers built with Node, Express and AngularJS
    a.btn.btn-lg.btn-primary(href="/questions") View the questions &raquo;
